doctype html 
html
    head 
        title Login 
    body("style"="background-color:lemonchiffon;")
        h1("style"="text-align:center;") Dashboard 🎥
        hr

        a(href="http://localhost:3000/video/new_video") 
            h4("style"='text-align:center') Share a New Video! 🚨

        a(href="http://localhost:3000/video/dashboard/all") 
            h4("style"='text-align:center') View Videos! 🚨
